body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  font-size: large;
}

#chat-container {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
  border-bottom: 1px solid #ccc;
  background-color: #fff;
}

#chat-messages {
  display: flex;
  flex-direction: column;
}

#chat-messages div {
  margin: 10px 0;
  padding: 15px;
  border-radius: 5px;
  max-width: 70%;
  word-wrap: break-word;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

#chat-messages .user-message {
  align-self: flex-start;
  background-color: #d1e7dd;
  color: #0f5132;
}

#chat-messages .ai-message {
  align-self: flex-end;
  background-color: #cfe2ff;
  color: #084298;
}

#input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #ccc;
  padding: 10px;
  background: #f9f9f9;
}

#user-input {
  width: 60%;
  height: 35px;
  padding: 5px;
  margin: 5px;
  max-height: 150px; /* 设置最大高度 */
  border: 1px solid #d96868;
  border-radius: 5px;
  resize: none; /* 禁用手动调整输入框大小 */
  overflow-y: auto; /* 超过最大高度时显示滚动条 */
}

#send-button, #delete-button {
  padding: 5px;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  margin: 5px;
}

#send-button {
  background: #007bff;
}

#send-button:hover {
  background: #0056b3;
}

#delete-button {
  background: #dc3545;
}

#delete-button:hover {
  background: #c82333;
}

pre, code {
  background-color: #272822;
  color: lightyellow;
  padding: 2px;
  border-radius: 3px;
  overflow-x: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
  #chat-container {
    padding: 10px;
  }

  #chat-messages div {
    max-width: 90%;
    padding: 8px;
  }

  #user-input {
    width: 70%;
    height: 35px;
  }

  #send-button, #delete-button {
    padding: 8px 16px;
    margin-left: 5px;
  }
}

@media (max-width: 480px) {
  #chat-container {
    padding: 10px;
  }

  #chat-messages div {
    max-width: 90%;
    padding: 10px;
  }

  #user-input {
    width: 80%;
    height: 30px;
  }

  #send-button, #delete-button {
    padding: 5px 10px;
    margin-left: 3px;
  }
}